batch-working/.classpath
batch-working/.project
batch-working/.settings/
batch-working/.vscode/
batch-working/invalid-00000-of-00002
batch-working/invalid-00001-of-00002
batch-working/target/
batch-working/valid-00000-of-00005
batch-working/valid-00001-of-00005
batch-working/valid-00002-of-00005
batch-working/valid-00003-of-00005
batch-working/valid-00004-of-00005
stream-working-pubsub/.classpath
stream-working-pubsub/.project
stream-working-pubsub/.settings/
stream-working-pubsub/.vscode/
stream-working-pubsub/invalid-00000-of-00002
stream-working-pubsub/invalid-00001-of-00002
stream-working-pubsub/target/
stream-working-pubsub/valid-00000-of-00005
stream-working-pubsub/valid-00001-of-00005
stream-working-pubsub/valid-00002-of-00005
stream-working-pubsub/valid-00003-of-00005
stream-working-pubsub/valid-00004-of-00005
.vscode/
batch-working/output_invalid-00000-of-00002
batch-working/output_invalid-00001-of-00002
batch-working/output_valid-00000-of-00005
batch-working/output_valid-00001-of-00005
batch-working/output_valid-00002-of-00005
batch-working/output_valid-00003-of-00005
batch-working/output_valid-00004-of-00005
batch-working/java.util.Arrays
batch-working/org.apache.beam.sdk.Pipeline
batch-working/org.apache.beam.sdk.io.TextIO
batch-working/org.apache.beam.sdk.options.PipelineOptions
batch-working/org.apache.beam.sdk.options.PipelineOptionsFactory
batch-working/org.apache.beam.sdk.transforms.Count
batch-working/org.apache.beam.sdk.transforms.Filter
batch-working/org.apache.beam.sdk.transforms.FlatMapElements
batch-working/org.apache.beam.sdk.transforms.MapElements
batch-working/org.apache.beam.sdk.transforms.Max
batch-working/org.apache.beam.sdk.transforms.ToString
batch-working/org.apache.beam.sdk.transforms.Values
batch-working/org.apache.beam.sdk.values.KV
batch-working/org.apache.beam.sdk.values.PCollection
batch-working/org.apache.beam.sdk.values.TypeDescriptors
stream-working-pubsub/java.util.Arrays
stream-working-pubsub/org.apache.beam.sdk.Pipeline
stream-working-pubsub/org.apache.beam.sdk.io.TextIO
stream-working-pubsub/org.apache.beam.sdk.options.PipelineOptions
stream-working-pubsub/org.apache.beam.sdk.options.PipelineOptionsFactory
stream-working-pubsub/org.apache.beam.sdk.transforms.Count
stream-working-pubsub/org.apache.beam.sdk.transforms.Filter
stream-working-pubsub/org.apache.beam.sdk.transforms.FlatMapElements
stream-working-pubsub/org.apache.beam.sdk.transforms.MapElements
stream-working-pubsub/org.apache.beam.sdk.transforms.Max
stream-working-pubsub/org.apache.beam.sdk.transforms.ToString
stream-working-pubsub/org.apache.beam.sdk.transforms.Values
stream-working-pubsub/org.apache.beam.sdk.values.KV
stream-working-pubsub/org.apache.beam.sdk.values.PCollection
stream-working-pubsub/org.apache.beam.sdk.values.TypeDescriptors
word-count-beam/.classpath
word-count-beam/.project
word-count-beam/.settings/
word-count-beam/counts-00000-of-00004
word-count-beam/counts-00001-of-00004
word-count-beam/counts-00002-of-00004
word-count-beam/counts-00003-of-00004
word-count-beam/target/
word-count-beam/wordcounts-00000-of-00003
word-count-beam/wordcounts-00000-of-00004
word-count-beam/wordcounts-00001-of-00003
word-count-beam/wordcounts-00001-of-00004
word-count-beam/wordcounts-00002-of-00003
word-count-beam/wordcounts-00002-of-00004
word-count-beam/wordcounts-00003-of-00004
stream-working-bigquery/java.util.Arrays
stream-working-bigquery/org.apache.beam.sdk.Pipeline
stream-working-bigquery/org.apache.beam.sdk.io.TextIO
stream-working-bigquery/org.apache.beam.sdk.options.PipelineOptions
stream-working-bigquery/org.apache.beam.sdk.options.PipelineOptionsFactory
stream-working-bigquery/org.apache.beam.sdk.transforms.Count
stream-working-bigquery/org.apache.beam.sdk.transforms.Filter
stream-working-bigquery/org.apache.beam.sdk.transforms.FlatMapElements
stream-working-bigquery/org.apache.beam.sdk.transforms.MapElements
stream-working-bigquery/org.apache.beam.sdk.transforms.Max
stream-working-bigquery/org.apache.beam.sdk.transforms.ToString
stream-working-bigquery/org.apache.beam.sdk.transforms.Values
stream-working-bigquery/org.apache.beam.sdk.values.KV
stream-working-bigquery/org.apache.beam.sdk.values.PCollection
stream-working-bigquery/org.apache.beam.sdk.values.TypeDescriptors
stream-working-bigquery/.classpath
stream-working-bigquery/.project
stream-working-bigquery/.settings/
stream-working-bigquery/.vscode/
stream-working-bigquery/invalid-00000-of-00002
stream-working-bigquery/invalid-00001-of-00002
stream-working-bigquery/target/
stream-working-bigquery/valid-00000-of-00005
stream-working-bigquery/valid-00001-of-00005
stream-working-bigquery/valid-00002-of-00005
stream-working-bigquery/valid-00003-of-00005
stream-working-bigquery/valid-00004-of-00005
