batch-working/.classpath
batch-working/.project
batch-working/.settings/
batch-working/.vscode/
batch-working/invalid-00000-of-00002
batch-working/invalid-00001-of-00002
batch-working/target/
batch-working/valid-00000-of-00005
batch-working/valid-00001-of-00005
batch-working/valid-00002-of-00005
batch-working/valid-00003-of-00005
batch-working/valid-00004-of-00005
stream-working-pubsub/.classpath
stream-working-pubsub/.project
stream-working-pubsub/.settings/
stream-working-pubsub/.vscode/
stream-working-pubsub/invalid-00000-of-00002
stream-working-pubsub/invalid-00001-of-00002
stream-working-pubsub/target/
stream-working-pubsub/valid-00000-of-00005
stream-working-pubsub/valid-00001-of-00005
stream-working-pubsub/valid-00002-of-00005
stream-working-pubsub/valid-00003-of-00005
stream-working-pubsub/valid-00004-of-00005
.vscode/
batch-working/output_invalid-00000-of-00002
batch-working/output_invalid-00001-of-00002
batch-working/output_valid-00000-of-00005
batch-working/output_valid-00001-of-00005
batch-working/output_valid-00002-of-00005
batch-working/output_valid-00003-of-00005
batch-working/output_valid-00004-of-00005

