batch-working/.classpath
batch-working/.project
batch-working/.settings/
batch-working/.vscode/
batch-working/invalid-00000-of-00002
batch-working/invalid-00001-of-00002
batch-working/target/
batch-working/valid-00000-of-00005
batch-working/valid-00001-of-00005
batch-working/valid-00002-of-00005
batch-working/valid-00003-of-00005
batch-working/valid-00004-of-00005

